.learning-container {
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-height: 500px;
}
.readonly-box {
  display: inline-block;
  overflow-x: auto;
  margin: 15px 0;
  text-align: left;
  width:100%;
  font-size: 13px !important;
}

.code-box {
  display: inline-block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
  min-width: 400px;
  font-size: 13px !important;
}
.course-main-left {
  display: flex;
  flex-direction: column;
  flex: .25;
  min-width: 400px;
}
.left-bottom {
  flex-basis: 80px;
  min-height: 80px;
  max-height: 80px;
}
.left-main {
  padding: 20px;
  overflow: auto;
  border-right: 1px solid #dcdcdc;
  background-color: #F2F6F9;
  text-align: justify;

  .sub-note {
    position: relative;
    top: -20px;
    font-size: .8em;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-size: 3em;
    color: #3498DB;
    font-weight: 800;
    margin-bottom: 40px;
  }
  h2 {
    font-size: 1.5em;
    padding: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
  >p {
    color: #5e696a;
    font-size: 1.1em;
    line-height: 1.5em;
  }

}
.section {
  flex: 1;
  margin: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: auto;
  height: auto;
  box-shadow: 3px 3px 7px rgb(0,0,0);
  background-color: #ffffff;
  .head {
    min-height: 50px;
    background-color: #F2F6F9;
    border-bottom: 1px solid #d7d7d7;
    text-align: center;
    h1 {
      color: #2980b9;
      margin: 18px;
      font-size: 1em;
      font-weight: 500;
    }
  }
  .form {
    padding: 15px 5px;
    label {
      padding: 5px;
      margin: 0;
      font-weight: 500;
    }
    input, select {
      font-size: .9em;
      margin: 2px;
      border-radius: 0;
      height: 30px;
      padding: 0 5px;
    }
    margin-bottom: 0;
  }
  .editor {
    position: relative;
    padding: 15px 20px;
    flex: 1;
    text-align: center;
    .submission {
      a div {
        border-radius: 0;
        padding: 5px 70px;
      }
    }
  }
  .text-container {
    margin: 15px;
    /*box-shadow: 1px 1px 3px rgb(0,0,0);*/
    text-align: center;

    p {
      border-top: 1px dashed #247288;
      padding: 5px;
      margin: 0;
      color: #555555;
    }
    p:last-child {
      border-bottom: 1px dashed #247288;
    }
  }


}
.left-section {
  flex-basis: 700px;
}

.right-section-container {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
}
.right-top-section {
  flex: .65;
}
.right-bottom-section {

  height: auto;
}
.course-main-center {
  flex: 1;
  background-image: url("fuzzy_back.jpg");
  background-size: cover;
  background-color: #48A9B0;
  padding: 20px;
  display: flex;
  align-items: stretch;
  min-width: 900px;
}
.course-main-right {
  flex:1;
  min-width: 400px;
  background-color: #F7F7F7;
}

.course-bottom-section {
  min-height: 80px;
  background-color: #151f2a;
}