<div class="course-main-left">
    <h1>Getting Started</h1>
    <span>
        The first step to any OrderCloud 3.0 Application is to create a buyer. Creating a buyer
        is easy. You will send your new buyer object to,
    </span>
    <div class="readonly-box" readonly
         ui-ace="{
      useWrapMode : false,
      theme:'twilight',
      mode: 'markdown',
      tabSize: '4',
      useSoftTabs: true
    }" ng-model="createProduct.leftScript1"></div>
    <span>

    </span>
</div>
<div class="course-main-center">
    This is the middle section of main
</div>
<div class="course-main-right">
    This is the right section of main
</div>