<div class="section left-section">
    <div class="head">
        <h1>ORDERCLOUD 3.0 CONSOLE</h1>
    </div>
    <div class="form">
        <form>
            <div ng-init="apiIntro.apiCall.method = 'GET'" class="col-xs-4">
                <label>Method</label>
                <select class="form-control" ng-options="o for o in apiIntro.httpOptions" ng-model="apiIntro.apiCall.method"></select>
            </div>
            <div class="col-xs-8">
                <label>Location</label>
                <input class="form-control" type="text" ng-model="apiIntro.apiCall.url" />
            </div>
            <div class="col-xs-4">
                <label>Param Name</label>
                <input class="form-control" type="text" value="Content-Type"  />
            </div>
            <div class="col-xs-8">
                <label>Param Value</label>
                <input class="form-control" type="text" ng-model="apiIntro.apiCall.headers['Content-Type']" />
            </div>
            <div class="col-xs-4">
                <input class="form-control" type="text" value="Authorization" />
            </div>
            <div class="col-xs-8">
                <input class="form-control" type="text" ng-model="apiIntro.apiCall.headers.Authorization" />
            </div>
        </form>
    </div>
    <div class="editor">
        <div style="height: 100%;" class="code-box" readonly
             ui-ace="{
      useWrapMode : false,
      theme:'idle_fingers',
      mode: 'json',
      tabSize: '4',
    }" ng-model="apiIntro.apiCall.object"></div>
        <div class="submission">
            <a class="btn btn-primary" ng-click="apiIntro.processApiRequest()">Submit</a>
        </div>
    </div>
</div>
<div class="right-section-container">
    <div class="section right-top-section">
        <div class="head">
            <h1>HELPFUL HINTS</h1>
        </div>
        <div class="text-container">
            <p class="text-light">
                Use the API Console to the left to create your new buyer. If you'd like to have your console auto-fill,
                chage the settings in the dropdown on the upper left of the console window.
            </p>
            <p class="text-dark">
                This API has a very robust error handling process. If your API call returns an error, make sure to use
                the response console to find out what's wrong and how to fix it.
            </p>
        </div>


    </div>
    <div class="section right-bottom-section">
        <div class="head">
            <h1>RESPONSE CONSOLE</h1>
        </div>
        <div class="editor">
            <div style="height: 100%;" class="code-box" readonly
                 ui-ace="{
              useWrapMode : false,
              theme:'idle_fingers',
              showGutter: false,
              mode: 'json',
              tabSize: '4',
              onLoad: apiIntro.aceLoaded,
            }" ng-model="apiIntro.apiCall.apiResponse"></div>
        </div>
    </div>
</div>


