<div class="section left-section">
    <div class="head">
        <h1>ORDERCLOUD 3.0 CONSOLE</h1>
    </div>
    <div class="form">
        <form>
            <div ng-init="authentication.apiCall.method = 'POST'" class="col-xs-4">
                <label>Method</label>
                <select class="form-control" ng-options="o for o in authentication.httpOptions" ng-model="authentication.apiCall.method"></select>
            </div>
            <div class="col-xs-8">
                <label>Location</label>
                <input class="form-control" type="text" ng-model="authentication.apiCall.url" />
            </div>

        </form>
    </div>
    <div class="editor">
        <div style="height: 100%;" class="code-box"
             ui-ace="{
      useWrapMode : true,
      theme:'idle_fingers',
      mode: 'markup',
      tabSize: '4',
    }" ng-model="authentication.apiCall.object"></div>
        <div class="submission">
            <a class="btn btn-primary" ng-click="authentication.processApiRequest(authentication.apiCall.method, authentication.apiCall.url, authentication.apiCall.params, authentication.apiCall.headers, authentication.apiCall.object)">Submit</a>
        </div>
    </div>
</div>
<div class="right-section-container">
    <div class="section right-top-section">
        <div class="head">
            <h1>HELPFUL HINTS</h1>
        </div>
        <div class="text-container">
            <p class="text-light">
                Use the API Console to the left to create your new buyer. If you'd like to have your console auto-fill,
                chage the settings in the dropdown on the upper left of the console window.
            </p>
            <p class="text-dark">
                This API has a very robust error handling process. If your API call returns an error, make sure to use
                the response console to find out what's wrong and how to fix it.
            </p>
        </div>


    </div>
    <div class="section right-bottom-section">
        <div class="head">
            <h1>RESPONSE CONSOLE</h1>
        </div>
        <div class="editor">
            <div style="height: 100%;" class="code-box" readonly
                 ui-ace="{
              useWrapMode : true,
              theme:'idle_fingers',
              showGutter: false,
              mode: 'json',
              tabSize: '4',
              onLoad: authentication.aceLoaded,
            }" ng-model="authentication.apiCall.apiResponse"></div>
        </div>
    </div>
</div>


